body{padding-bottom: 0px;}
.navbar-fixed-top{padding-top: 10px;padding-bottom: 15px;}
.nav {margin-bottom: 0;}
.navbar-fixed-top.compressed{padding-top: 10px;padding-bottom: 20px;color: #6dcc7c;box-shadow: 2px 2px 10px rgba(0, 0, 0, 1); }

.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table;width:100%;text-align:center;left:0;right:0;}
.dropdown-menu>li>h5{color: #007ec2;font-weight: 1000;}
.dropdown-menu>li>a{text-align: left;word-wrap: normal;}
.dropdown-menu>li {display: table-cell;color: #000000;width: 1px;}
.navbar-inverse .navbar-nav>li>a {color: #bed62f;font-weight: 200;letter-spacing: 1px;}
.navbar-inverse .navbar-nav>li>a:focus {color: #dedede;}
.navbar-inverse .navbar-nav>li>a:hover {color: #dedede;}
.navbar-inverse .navbar-nav>.open>a:focus{color: #dedede;}
#myCarousel{top: 10px;}
.carousel.slide{margin-bottom: 0px;}
.jumbotron{background-color: white;text-align: center;color: grey;margin-bottom: 0px;}
.jumbotron h1 {font-size: 40px}
.col-md-4>h4{font-weight: 700;}
.col-md-8{font-size: 20px;}
.tab {margin-left: 40px;flex-wrap:all;text-align: justify;}
#footer{background-color: #dedede;}
.parallax {background-image: url("../images/placeholder image.jpg");min-height: 300px;background-attachment: fixed;background-position: 0% -16%;background-repeat: no-repeat;background-size: cover;}
#form_container{margin-top: 30px;}
#consulting_picture{object-fit: cover;max-width: 500px;height: 480px;margin-left: 20px;}
.carousel-inner .item{-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;-webkit-background-position: center;-moz-background-position: center;-o-background-position: center;background-position: center;-webkit-background-attachment: fixed;-moz-background-attachment: fixed;-o-background-attachment: fixed;background-attachment: fixed;}
#blog-image{max-width: 695px; border-radius: 5%;}
#blog-row {display: flex;flex-wrap: wrap;padding: 0 4px;}
.blog-column {flex: 50%;padding: 0 4px;border-radius: 5%}
.blog-column img {vertical-align: middle;max-width: 300px;}
.blog-pagination{margin-bottom: 15px}
#events-container{padding-left: 0px;padding-right: 0px;}
.parallax_about {background-image: url("../images/creek street.jpg");background-position: center;
min-height: 300px; background-attachment: fixed;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
/*.parallax_about {background-image: url("../images/creek street.jpg");background-position: 0% 0%;min-height: 300px; background-attachment: fixed;background-repeat: no-repeat;background-size: cover; max-width: 100%;}*/
.parallax_services {background-image: url("../images/project image.jpg");background-position: 0% -15%;min-height: 300px;background-attachment: fixed;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
.parallaxResources {background-image: url("../images/recruitment image.jpg");min-height: 300px; background-attachment: fixed;background-position: 0% -15%;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
.parallaxConsulting {background-image: url("../images/consulting services.jpg");min-height: 300px; background-attachment: fixed;background-position: center;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
.parallaxCloud {background-image: url("../images/cloud computing.jpg");min-height: 300px; background-attachment: fixed;background-position: 0% 40%;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
.parallaxMobility {background-image: url("../images/Enterprise Mobility.jpg");min-height: 300px;background-attachment: fixed;background-position: 0% 20%;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
.parallaxItLifecycle{background-image: url("../images/consulting services.jpg");min-height: 300px; background-attachment: fixed;background-position: 0% -40%;background-repeat: no-repeat;-webkit-background-size: 100% auto; -moz-background-size: 100% auto;-o-background-size: 100% auto; background-size: 100% auto;}
#vision{position: absolute;z-index: 10;text-align: center;top: 100px;color: white;}
#about_heading{margin-top: 70px; background-color: #007dbd; min-height: 200px;text-align: center;padding-top: 60px;color: #bed62f;}
#about-dalrae{height: 400px;padding: 50px;}
#about-dalrae h1{font-weight: bold;font-style: italic;}
#aboutCaption{padding-bottom: 0px;padding-top: 100px;bottom: 0px;top: 0px;}
#slideHeading{text-align: left;}
#slideText{font-size: 16px;text-align: left;}
#secondSlide{font-size: 16px;text-align: left;}
h1.about_header{padding-top: 70px;text-align: center;margin-bottom: 0px}
#header_container{max-height: 250px}
#solutions_heading{margin-top: 70px; background-color: #007dbd; min-height: 200px;text-align: center;padding-top: 60px;color: #bed62f;}
#services_heading{margin-top: 70px; background-color: #007dbd; min-height: 200px;text-align: center;padding-top: 60px;color: #bed62f;}
#servicesDescription{padding-bottom: 0px;}
#services-image{max-height: 450px;width: 100%;}
#mobilityBox{margin-left: 45px;margin-right: 45px;}
#accordionRow{background-color: #dedede;margin-top: 10px;margin-bottom: 10px;}
#accordionHeader{text-align: left;vertical-align: bottom;margin-top: 30px;margin-left: 20px;}
#accordionButton {margin-top: 20px;margin-bottom: 20px;margin-left: 70px}
@media only screen and (max-width: 1130px){
.parallax_about {background-image: url("../images/creek street.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%; background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}	
.parallax_services {background-image: url("../images/project image.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
.parallaxResources {background-image: url("../images/recruitment image.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
.parallaxConsulting {background-image: url("../images/consulting services.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
.parallaxCloud {background-image: url("../images/cloud computing.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
.parallaxMobility {background-image: url("../images/Enterprise Mobility.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
.parallaxItLifecycle{background-image: url("../images/consulting services.jpg");background-position: 0% 15%;min-height: 200px;-webkit-background-size:100% 50%;background-size: 100% 50%;background-attachment: fixed;background-repeat: no-repeat;}
#form_container{margin-left: 30px}
}
