:root{--myFont: Arial,Helvetica,sans-serif;--logoGreen: #BED360;}

#about{background: #4A4A4A;margin-bottom: 0px;font-family: var(--myFont);color: white; font-size: 18px;}
.navbar-dark .navbar-nav a.nav-link{font-family: var(--myFont);font-size: 18px;color: var(--logoGreen);font-weight: lighter;}
#headerImage{background-position: center;background-size: cover;min-width: 100%;max-height: 500px}
#headerContainer{background-image: url(../images/bneSkyline.jpg); background-position: center;background-size: cover;min-width: 100%;max-height: 500px; margin: 0 0 0 0!important;}
#contactContainer{background-image: url(../images/contactImage.jpg); background-position: center;background-size: cover;min-width: 100%;max-height: 500px; margin: 0 0 0 0!important;}
#eventsContainer{background-image: url(../images/sitImage.jpg); background-position: center;background-size: cover;min-width: 100%;max-height: 500px; margin: 0 0 0 0!important;}
#services{background-image: url(../images/uxDesign.jpg); background-position: center;background-size: cover;min-width: 100%;min-height: 500px; margin: 0 0 0 0!important;}
#eventsHeading{font-family: var(--myFont); color: transparent;text-align: center; font-size: 64px;}
#servicesHeading{font-family: var(--myFont); color: white;text-align: center; font-size: 64px;}
#userExperienceHeader{font-family: var(--myFont);font-size: 16px;color: #000000;line-height: 18px; text-align: center;}
.jumbotron{background: #F1F1F1; margin-bottom: 0px;}
.servicesCard{border: 4px solid #979797; background-color: transparent;}
.btn-primary{background-color: #D8D8D8; border-color: #D8D8D8;font-family: var(--myFont); font-size: 18px}
#uxButton{background:var(--logoGreen);border-color: var(--logoGreen); color:black;}
.servicesCard.active{border-color: var(--logoGreen);}
#footer{background: #4A4A4A;}
#footerText{color: white;font-family: var(--myFont); font-size: 14px; font-weight: lighter;}
.card{font-family: var(--myFont); font-size: 20px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);}
#blog-image{max-width: 695px; border-radius: 5%;}
#blog-row {display: flex;flex-wrap: wrap;padding: 0 4px;}
.blog-column {flex: 50%;padding: 0 4px;border-radius: 5%}
.blog-column img {vertical-align: middle;max-width: 300px;}
.blog-pagination{margin-bottom: 15px}
#events-container{padding-left: 0px;padding-right: 0px;}
.blog-post{font-family: var(--myFont);}
.blog-navigate{font-family: var(--myFont);}
.blog-sidebar{font-family: var(--myFont);}
.card-header{margin-top: 20px;}
.nav-link{padding-top: 20px;}
@media screen and (min-width: 601px){
	#navBrand{width:50px; height:60px;padding-top: 0px; padding-bottom: 0px; margin-left: 16px;}
	.servicesSmallScreen{display: none;}
	#heading{font-family: var(--myFont); color: white;text-align: center; font-size: 80px;}
}
