:root{--myFont: Arial,Helvetica,sans-serif;--logoGreen: #BED360;}
.navbar-brand{display: none;}
.servicesLargeScreen{display: none;}
#heading{font-family: var(--myFont); color: white;text-align: center; font-size: 50px;}
#blog-image{max-width: 345px; border-radius: 5%;}