.parallax {
    /* The image used */
    background-image: url("../images/placeholder image.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 200px;
}
.parallax2 {
    /* The image used */
    background-image: url("../images/creek street.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
}

#vision{
	position: absolute;
	z-index: 1000;
	top: 1300px;
	left: 200px;
}
.text-box{
	height: 600px;
	padding: 50px;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.navbar {
    margin-bottom: 0 !important;
}
