.featurette-heading {margin-top: 120px;}
.carousel-caption p {margin-bottom: 20px;font-size: 18px;line-height: 1.4;}
.carousel-caption h1 {font-size: 30px}
.parallaxResources {background-image: url("../images/sml_recruit_image.jpg");background-position: 0% 0%;/*min-height: 200px;*/-webkit-background-size:100% 30%;background-size: 100% 30%;background-attachment: fixed;background-repeat: no-repeat;}
/*.navbar-wrapper {margin-top: 20px;}
.navbar-wrapper .container {padding-right: 15px;padding-left: 15px;}
.navbar-wrapper .navbar {padding-right: 0;padding-left: 0;}
.navbar-wrapper .navbar {border-radius: 4px;}*/
