/*.featurette-heading {margin-top: 120px;}
.navbar-wrapper {margin-top: 20px;}
.navbar-wrapper .container {padding-right: 15px;padding-left: 15px;}
.navbar-wrapper .navbar {padding-right: 0;padding-left: 0;}
.navbar-wrapper .navbar {border-radius: 4px;}*/
.carousel-caption p {margin-bottom: 20px;font-size: 18px;line-height: 1.4;}
.carousel-caption h1 {font-size: 30px;}